build --cxxopt=-std=c++20 --host_cxxopt=-std=c++14
build -c opt
build --copt -fdiagnostics-color=always
build --flag_alias=cuda_archs=@rules_cuda//cuda:archs
build --cuda_archs=sm_75,sm_86
build --local_ram_resources=HOST_RAM*.25 --local_cpu_resources=HOST_CPUS-6
