numpy==1.26.2
packaging;
scipy;
joblib;
threadpoolctl;
scikit-learn;
fonttools;
python_dateutil;
kiwisolver;
pillow;
cycler;
pyparsing;
contourpy;
six;
wxPython;
#PySide2;
PyQt5;
pyqt5_sip;
pyqt5_qt5;
matplotlib;